@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    box-sizing: border-box;
    background-color: black;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.playlist-container{
    /*background-color: #fff;*/
    position: absolute;
    top: -123%;
    height: 1160px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 800px 150px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
    z-index: 0; /* Lower z-index to place it behind container*/
    cursor: pointer;
}

.playlist{
    width: 150px;
    margin: 0 auto;  /* This centers horizontally */
    transition: opacity 0.5s ease; /* Add transition for opacity */
    opacity: 0; /* Initially hidden */
}

.playlist-container.active .playlist {
    opacity: 1; /* Fade in after transition delay */
    transition-delay: 0.35s; /* Delay the appearance by given seconds */
}

.playlist h4:hover{
    transform: scale(110%);
}

#album-title, #songs, #pullup {
    display: none;
}

.playlist-container:hover{
    top: -115%;
}

.playlist-container.active{
    top: 105%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.playlist-container.active #album-title, .playlist-container.active #songs, .playlist-container.active #pullup {
    display: block;
}

.playlist-container.active #dropdown{
    display: none;
}

.pullup{
    position: relative;
    top: 50px;
    left: 186px;    /*for centering the controls icons*/
    width: 200px;
    opacity: 35%;
}

.dropdown{
    position: relative;
    top: 1035px;
    left: 186px;    /*for centering the controls icons*/
    width: 200px;
    opacity: 35%;
}

.container{
    /*background-color: #fff;*/
    position: relative;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.player-img{
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    width: 0;
    height: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

h3{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

h4{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 0;
}

.player-progress{
    box-shadow: 0 0px 100px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer; /* changes cursor to pointer when hovered*/
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
}

.progress{
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.02s linear;
}

.music-duration{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-controls{
    position: relative;
    top: -15px;
    left: 126px;    /*for centering the controls icons*/
    width: 200px;
}

.fa-solid{
    font-size: 30px;
    color: #000;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.fa-solid:hover{
    filter: brightness(10%);
    transform: scale(110%);
}

.player-button{
    font-size: 44px;
    position: relative;
    top: 3px;
}